In [0]:
employee = [( 3,'Brad',None,4000),
            (1 ,'John',3,1000),
            (2,'Dan',3,2000),
            (4,'Thomas',3,4000)]
employeecolumn = ['empid','name','supervisor','salary']
bonus = [(2,500),
         (4,2000)]
bonuscolumns = ['empid','bonus']

In [0]:
employeeDf =spark.createDataFrame(data=employee,schema=employeecolumn)
bonusdf=spark.createDataFrame(data=bonus,schema=bonuscolumns)
employeeDf.show()
bonusdf.show()

+-----+------+----------+------+
|empid|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      NULL|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

+-----+-----+
|empid|bonus|
+-----+-----+
|    2|  500|
|    4| 2000|
+-----+-----+

In [0]:
employeeDf.alias('e').join(bonusdf.alias('b'),col('e.empid') == col('b.empid'),'left')\
    .filter((col('b.bonus') < 1000) | (col('b.bonus').isNull()))\
        .select(col('e.name'),col('b.bonus')).show()

+----+-----+
|name|bonus|
+----+-----+
|Brad| NULL|
|John| NULL|
| Dan|  500|
+----+-----+

In [0]:
employeeDf.createOrReplaceTempView('employeeDf')
bonusdf.createOrReplaceTempView('bonusdf')

In [0]:
query = '''
SELECT e.name, b.bonus 
FROM employeeDf e 
left join bonusdf b 
on e.empid=b.empid 
where bonus< 1000 or bonus is null
'''

In [0]:
result = spark.sql(query)
result.show()

+----+-----+
|name|bonus|
+----+-----+
|Brad| NULL|
|John| NULL|
| Dan|  500|
+----+-----+